@use '../themes/defaultTheme' as *;
@use '../util/variables' as *;
@use '../util/mixins' as *;

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
html{
  scroll-behavior: smooth;
}
h1,
h2,
h3,
h4{
  letter-spacing: $spacing;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1{
  font-size: 3rem;
  font-weight: normal;
}
h2{
  font-size: 2rem;
}
h3{
  font-size: 1.25rem;
}
h4{
  font-size: 0.875rem;
}
p{
  margin-bottom: 1.25rem;
  color: $grey-4;
}
@include tablet {
  h1{
    font-size: 4rem;
  }
  h2{
    font-size: 2.5rem;
  }
  h3{
    font-size: 1.75rem;
  }
  h4{
    font-size: 1rem;
  }
  body{
    font-size: 1rem;
    box-shadow: inset 0 0 5px grey;
    color: #eb4747;
  }
  h1,
  h2,
  h3,
  h4{
    line-height: 1;
  }
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  // background: rgba(146, 25, 25, 0.877);
  background-image: url(https://images.pexels.com/photos/1955134/pexels-photo-1955134.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);

  // background-size:auto;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-position-y: top;
  height: 100%;
  
    // background-image: url(../monument_valley_road.jpg);
  color: $black;
  line-height: 1.5;
  font-size: 0.875rem;
}
// main{
//   min-height: 100vh;
//   @include flex-center;
// }
main {
  min-height: 100vh;
  // display: flex;
  justify-content: center;
  align-items: center;
  // position: top;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
 
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  background: #E3C184;
  ;
  // border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #a8874a;
  // border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8f723c; 
}