@use '../themes/defaultTheme' as *;
@use '../util/variables' as *;
@use '../util/mixins' as *;
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');


.navbar {
  background: #E3C184;
  box-shadow: $light-shadow;
  .nav-center {
    .nav-header {
      @include flex-center;
      justify-content: space-between;
      padding: 1rem;
    }
    .nav-toggle {
      font-size: 1.5rem;
      color: $primary-4;
      background: transparent;
      border-color: transparent;
      transition: $transition;
      cursor: pointer;
      &:hover {
        transform: rotate(90deg);
      }
    }
    .logo {
      height: 30px;
    }
    .links-container {
      height: 0;
      overflow: hidden;
      &:visited{

      }
      &.show {
        height: auto;
      }
    }
    .links li {
      color: $primary-1;
      font-size: 1.25rem;
      text-transform: capitalize;
      letter-spacing: $spacing;
      display: block;
      padding: 0.5rem 1rem;
      transition: $transition;
      position: relative;
      a{
        color: $secondary-5;
        text-align: center;
      }
      a{
      &:hover {
        background: hsl(0, 60%, 67%, 0.7);
        color: $white;
        padding-left: 1.5rem;
        border-radius: $radius;
        transition: .5s ease-out all;
        &::after{
          width: 100%;
          transition: 1s ease-out all;
        }
      }
    }
      // &::after{
      //   @include pseudo;
      //   position: absolute;
      //   bottom: 0;
      //   width: 0;
      //   height: 3px;
      //   background: $primary-4;
      //   transition: 1s ease-out all;
      // }
    }
    .social-icons {
      display: flex;
      height: 0;
      overflow: hidden;
      justify-content: space-around;
      li {
        margin: 0.5rem 1rem;
      }
      &.show{
        height: auto;
      }
    }
  }
}
@include tablet {
  .navbar {
    .nav-center {
      max-width: 1200px;
      @include center-auto;
      @include flex-space-bet;
      padding: 1rem;
      .logo {
        height: 100px;
      }

      .nav-header {
        padding: 0;
      }
      .nav-toggle {
        display: none;
      }
      .links-container {
        height: auto;
      }
      .links {
        display: flex;
        li {
          font-family: 'Titan One', cursive;
          padding: 0;
          margin: 0 0.5rem;
          &:hover {
            padding: 0;
            background: transparent;
          }
          &:visited{
            color: $primary-2;
          }
        }
      }
      // .social-icons {
      //   display: flex;
      //   a {
      //     margin: 0 0.5rem;
      //     color: $primary-4;
      //     transition: $transition;
      //     &:hover {
      //       color: $primary-7;
      //     }
      //   }
      // }
    }
  }
}
