@use '../themes/defaultTheme' as *;
@use '../util/variables' as *;
@use '../util/mixins' as *;

.section{
  width: 90vw;
  margin: 0 auto;
  max-width: $max-width;
  @include flex-center-column;
  color: $black;
}

@include large {
  .section{
    width: 95vw;
  }
}

main{
  width: 65%;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.container {
  // width: 100%;
  // margin: 5rem auto;
  //   // background: hsla(209, 20%, 74%, 0.70);
  // border-radius: $radius;
  padding: 2.5rem 2rem;
  border: rgba(119, 135, 150, ) solid 4px;
    border-radius: 5%;
  // max-width: 920px;
  display: grid;
  // grid-template-columns: 250px 1fr;
  // grid-gap: 1rem 2rem;
  // gap: 1rem 2rem; 
  // text-align: center;

  h2{
    text-align: left;
    line-height: 1.2;
    font-weight: 400;
    text-align: center;

  }
  p{
    color: $black;
    font-size: 1rem;
  padding: 1rem 1rem;
  text-align: center;

    font-size: 1.15rem;
  }
  ol,ul,li{
    text-align: left;
    font-size: .9rem;
    // position: relative;
    // left: 10%;
    margin: 0 auto;
    width: 220px;
  }
}


.btn{
  background: $primary-4;
  display: inline-block;
  width: 100%;
  padding: 0.25rem 0.5rem;
  border-radius: $radius;
  text-transform: capitalize;
  color: $white;
  letter-spacing: $spacing;
  border-color: transparent;
  margin-top: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.underline{
  @include box(12rem, 0.25rem);
  @include center-auto;
  background: $primary-4;
}

.frosted{
  background: hsla(209, 20%, 74%, .95);
  border-radius: $radius;
}

@include tablet{
  .container {
    // padding: 1.5rem 2rem ;
    display: grid;
    text-align: center;
    border: rgba(119, 135, 150, ) solid 4px;
    border-radius: 5%;
    // border-top: transparent;
    // border-spacing: 20px;
    position: relative;
    left: 5%;
    width: 90%;
    // line-break: auto;
    // padding-top: 20px;
  
    h2{
      text-align: left;
      line-height: 1.2;
      font-weight: 500;
      text-align: center;

    }
    p{
      color: $black;
      font-size: 1.2rem;
    padding: 2.5rem 2rem;
  
    }
    ol,ul,li{
    text-align: left;
    font-size: 1.1rem;
    // position: relative;
    // left: 11%;
    margin: 0 auto;
    width: 500px;
  }
  }
  
}

.person{
  height: 200px;
  margin: 0 auto;
}

.phone{
  position: relative;
  height: 250px;
  margin: 0 auto;
}

main,article{
  overflow: hidden;
}

.contact-ways{
  text-decoration: underline;
  &:hover{
    color: #eb4747;
    transition: .5s ease-out all;
  }
}



